.InputForm {
  text-align: center;
  padding: 2rem;
  padding-bottom: 1rem;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 2px solid white;
}

.InputForm textarea,
.InputForm input,
.inputForm button {
  display: block;
  margin: 1rem auto;
}

.InputForm textarea {
  width: 500px;
  height: 50px;
}

.InputForm span {
  margin-top: 2rem;
  display: block;
}

.InputForm button {
  padding: 0.3rem 1rem;
  margin: 1rem;
  background-color: rgb(41, 135, 243);
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 0.9rem;
  color: white;
}

.InputForm button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}
